# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Backup
*.bak
*.gho
*.ori
*.orig
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logging
.log

# Directories
cmake-build-*/
bin/
tmp/
.vscode/
